body{
    font-family: 'Source Serif 4', serif,sans serif,monospaced;
    font-variant: small-caps;
    font-size: medium;
    background-color:lemonchiffon;
    color: unset;
}
.t{
    border:2px solid red;
    outline:black dashed 2px;
    color: red;
    text-align: center;
    margin: auto;
    padding: 20px;
    text-transform: uppercase;
    text-justify: distribute;
    float: left;
}   
.name{font-style: italic;
}
.fun{font-weight: 200;
}  
.enegetic{font-size: large;
}
.input{font-variant: small-caps;
    color: red;

}

.image{
    display: block;
    width: 200px;
    margin: 50px;
    float: left;
    

}