*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    height: 400px;
    display: flex;
    background-color: antiquewhite;
    flex-wrap: wrap;
    padding: 20px;
}
ul {
    display: flex;
}
.item {
/* growth shrink basis */
    background-color: rgb(1, 1, 54);
    color: white;
    padding: 20px;
}
ul {
    background-color: rgb(196, 112, 112);
    color: white;
    padding: 20px;
}
.food {
    flex-direction: column;
}