*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    background: lightblue;
    color: black;
    height: 60px;
    border-style: solid;
    border-color: black;
    margin: 16px;
}
.container{
    display: flex;
}
.cat{
    background: burlywood;
    color: black;
    height: 300px;
    border-style: solid;
    border-color: black;
    margin: 16px;
    width:190px ;
}
.body{
    background: rgb(120, 120, 167);
    color: black;
    height: 400px;
    border-style: solid;
    border-color: black;
    margin: 16px;
    width:2000px ;
    display: flex;
    

}

